.choose{
    background-color: $neutro;
    color: $dark;
    text-align: center;
    height: 80vh;
    .choose__title{
        font-family: $font2;
        font-weight: 800;
        font-size: 3em;
        padding-top: 10%;
        padding-bottom: 4%;
        color: $light;
    }
}

.progress-bar-danger {
    background-color: $light;
}